unless page==='404'
  footer.container-fluid.py-3
    div.row
      div.col
        p.text-center.mb-0
          | Copyright &copy;
          span.year
          | &nbsp;
          a(href="https://github.com/llcawc") llcawc
          | , all rights reserved. Made with 
          span(style="color: #e60f0a;") &#10084;
          | &nbsp;for the best architecture.
