<footer class="container-md">
  <div class="row">
    <div class="col">
      <hr>
      <p class="text-center my-3">
        Copyright&nbsp;&copy;<span class="year"></span>&nbsp;pasmurno by <a href="https://github.com/llcawc">llcawc</a>, all rights reserved. Made&nbsp;with&nbsp;<span style="color:red;">&#10084;</span>&nbsp;to&nbsp;beautiful&nbsp;architecture.
      </p>
    </div>
  </div>
</footer>
