footer.container-fluid
  div.row
    div.col
      p.text-center.my-3
        | Copyright &copy;
        span.year
        | &nbsp;
        a(href="https://github.com/llcawc") llcawc
        | , all rights reserved. Made with 
        span(style="color: #e60f0a;") &#10084;
        | &nbsp;for the best architecture.
