div(id="share", class="pop-wrapper", tabindex="-1", aria-hidden="true")
  div(id="popshare", class="pop-share")

    div.icon-share

      a(class="vkontakte-link", href="#", data-pop="popshare", target="_blank", title="Поделиться страницей в Контакте")
        img(class="pi-vkontakte", width="24", height="24", src="/assets/images/icon/vk.svg", alt="vk")

      a(class="facebook-link", href="#", data-pop="popshare", target="_blank", title="Поделиться страницей в Facebook")
        img(class="pi-facebook", width="24", height="24", src="/assets/images/icon/facebook.svg", alt="facebook")

      a(class="pinterest-link",href="#", data-pop="popshare", target="_blank", title="Поделиться страницей в Pinterest")
        img(class="pi-pinterest", width="24", height="24", src="/assets/images/icon/pinterest.svg", alt="pinterest")

      a(class="telegram-link", href="#", data-pop="popshare", target="_blank", title="Поделиться страницей в Telegram")
        img(class="pi-telegram", width="24", height="24", src="/assets/images/icon/telegram.svg", alt="telegram")

    div.icon-share

      a(class="instagram-link", href="#", data-pop="popshare", target="_blank", title="Открыть Instagram компании АВК")
        img(class="pi-instagram", width="24", height="24", src="/assets/images/icon/instagram.svg", alt="instagram")

      a(href="http://awcom.ru", target="_blank", title="Открыть сайт компании АВК")
        img(class="pi-awc", width="24", height="24", src="/assets/images/icon/awc.svg", alt="awc")

      a(class="email-link", href="#", title="Отправить ссылку на Email")
        img(class="pi-email", width="24", height="24", src="/assets/images/icon/email.svg", alt="email")

      a(class="download-link", href="#", title="Загрузить", download)
        img(class="pi-down", width="24", height="24", src="/assets/images/icon/download.svg", alt="download")

    button(class="copy-link btn btn-outline-secondary") Скопировать ссылку
