// config.scss - general project styles

::placeholder {
  color: $textcolor;
}

::selection {
  color: inherit;
  background-color: rgba(mix(#fff, $accent, 60%), .4);
}

*:focus-visible {
  outline: 4px solid rgba($accent, .5) !important;
  box-shadow: none !important;
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: #f00;
  }

  &:required:valid {
    border-color: #008000;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100svh;
  padding-top: 4rem; //64px
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.hidden {
  display: none;
  width: .001px;
  height: .001px;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
