// styles.scss - common pages styles
@use "bootstrap" as boot;

.nav-autohide {
  min-height: 4.5rem; // 72px
  transition: transform .5s;
}

.nav-autohide.is-hidden {
  transform: translateY(-4.5rem); // 72px
}

.nav-link {
  padding-top: .375rem;
  padding-bottom: .375rem;
  text-align: center;
  transition: .25s;
  .bi {
    font-size: 1.5rem;
  }
  span {
    margin-left: .5rem;
    font-size: 1.25rem;
  }
}

.nav-switch {
  display: flex;
  column-gap: 2rem;
  margin-left: auto;
}

.nav-link.active {
  text-decoration: underline;
  text-decoration-color: boot.$accent;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}

.section {
  margin: 2.5rem auto;
  padding: 1rem 0;
  text-align: center;
  background-color: #f8f9fa;
}

@include boot.color-mode(dark) {
  .section {
    background-color: #343a40;
  }
}

.quote {
  position: relative;
  margin-bottom: .5rem;
  margin-left: 2.5rem;
  font-style: italic;
  &::before {
    content: "";

    position: absolute;
    top: .5rem;
    left: -2.5rem;

    width: 2rem;
    height: 2rem;

    background: url("/assets/images/pen.svg") center/cover no-repeat;
  }
  p {
    margin-top: .5rem;
    font-size: .875em;
    font-weight: 200;
  }
}

.content {
  p {
    margin-bottom: 1.5rem;
    text-indent: 1.5rem;
    &::first-letter {
      margin-right: 2px;
      font-size: 150%;
      font-weight: 700;
      line-height: 1.5rem;
    }
  }
}

.figure-hover {
  transform: scale(1);
  box-shadow: none;
  transition: .4s all;
  &:hover {
    transform: scale(1.0125);
    box-shadow: 0 .25rem 1rem rgba(#000, .3);
  }
}

.gallery-item {
  display: inline-block;
  break-inside: avoid;

  margin: 0;
  margin-bottom: boot.$gutter * .5;

  filter: brightness(.9);
  box-shadow: none;

  transition-property: transform, opacity, filter, box-shadow !important;

  page-break-inside: avoid;

  &:hover {
    filter: brightness(1);
    box-shadow: 0 0 8px rgba(#000, .25);
  }

  @media (min-width: 480px) {
    width: calc(50% - boot.$gutter * .5);
    margin-right: boot.$gutter * .25;
    margin-left: boot.$gutter * .25;
  }

  @include boot.media-breakpoint-up(md) {
    width: calc(25% - boot.$gutter * .5);
  }
  @include boot.media-breakpoint-up(lg) {
    width: calc(100% / 7 - boot.$gutter * .5);
  }
}

.post-img {
  margin-bottom: 1rem;

  @include boot.media-breakpoint-up(md) {
    float: left;
    max-width: 25%;
    margin-right: 1rem;
    margin-bottom: .5rem;
  }
}

.blank-wrapper {
  overflow: hidden;
  width: 100svw;
  height: 100svh;
  margin-top: -4rem; //64px
}

.custom-html-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 67%;
  height: auto;

  font-size: calc(1.5rem + 1vh);
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.custom-html-slide a {
  color: #fff;
  text-decoration: underline;
}
