// USER VARIABLES SECTION
// _config.sass

// Bootstrap compatible variable
$grid-gutter-width: 3rem // 30px
$gutter: $grid-gutter-width
$spacer: 3.2rem // 32px

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'
@import 'node_modules/bootstrap/scss/bootstrap-utilities.scss'

@import '../vendor/magnific-popup/main.scss'

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('pasOpenSans', normal, 300, '../fonts/open-sans-300.woff2')
@include font('pasOpenSans', italic, 300, '../fonts/open-sans-300italic.woff2')
@include font('pasOpenSans', normal, 400, '../fonts/open-sans-regular.woff2')
@include font('pasOpenSans', italic, 400, '../fonts/open-sans-italic.woff2')
@include font('pasOpenSans', normal, 700, '../fonts/open-sans-700.woff2')
@include font('pasOpenSans', italic, 700, '../fonts/open-sans-700italic.woff2')
