// GENERAL PROJECT STYLES
// _general.sass

  
$globalfontsize: 62.5% // for global ratio 10px = 1rem
$accent: #f58220 // Accent Color
$dark: #222  // Dark Color
$textcolor: #595959 // Text Color
$fontsize: 1.6rem // Body Font Size
$lineheight: 1.5 // Document Line Height
$userfont: pasOpenSans, sans-serif // User Font Family
$systemfont: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"


::placeholder
	color: $textcolor

::selection
	background-color: rgba(mix(white, $accent, 60%), 0.4)
	color: inherit

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

html
	font-size: $globalfontsize

body
	font-family: $userfont
	font-size: $fontsize
	font-weight: normal
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden
  
h1, h2, h3, h4, h5, h6
  font-weight: 700

.section
  text-align: center
  margin: $gutter auto
  padding: $gutter/2 0
  background-color: #eee

.btn
  display: inline-block
  background-color: transparent
  padding: $spacer/4 $gutter
  border: 1px solid transparent
  border-radius: 0.8rem
  outline: transparent

.btn-primary
  color: white
  background-color: #0d6efd
  border-color: #0d6efd
  transition: 0.15s ease-in-out
  &:hover
    background-color: #0a58ca
  &:focus
    box-shadow: 0 0 0 0.4rem rgba(#0d6efd, 0.4)


// --- Button to top scroll  --------
$bott: 90px // bottom gap button
$righ: 20px // left gap button

#scrolltotop
  position: fixed
  background-color: rgba($accent, 0.5)
  opacity: 0
  transition: background-color 0.4s, box-shadow 0.4s, opacity 1.2s ease
  bottom: $bott
  right: $righ
  width: 40px
  height: 40px
  border-radius: 4px
  z-index: 199
  svg
    stroke: #fff
    width: 24px
    height: 24px
    margin: (40px - 24px) / 2
  &:hover
    background-color: $accent
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)
  &:active
    transform: scale(0.95)
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
  &.on
    opacity: 1 !important
    animation: up 1.2s ease
    cursor: pointer
  &.down
    animation: down 1.2s ease

@keyframes up
  0%
    bottom: 0px
  30%
    bottom: $bott
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@keyframes down
  0%
    transform: rotate(0deg)
    opacity: 1
  70%
    opacity: 1
    bottom: $bott
    transform: rotate(-360deg)
  100%
    opacity: 0
    bottom: 0px
    transform: rotate(-360deg)
// --- END button to top scroll ---
