// MAIN STYLE

@import config
@import 'blocks/header'
@import 'blocks/home'
@import 'blocks/footer'


h1, h2, h3, h4, h5, h6
  font-weight: 700

.section
  text-align: center
  margin: $gutter auto
  padding: $gutter/2 0
  background-color: #eee
