// _config.scss
// GENERAL PROJECT STYLES
:root {
  --awc-accent-rgb: 245 130 32;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

::placeholder {
  color: $textcolor;
}

::selection {
  background-color: rgba(mix(white, $accent, 60%), 0.4);
  color: white;
}

:focus-visible {
    outline: 2px solid rgb(var(--awc-accent-rgb) / 0.5);
    outline-offset: 2px;
    border-radius: 0.25rem;
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}
