<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-md">
      <a class="navbar-brand fw-bold fs-4" href="index.html">Mockup</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav text-end fs-5 mt-lg-0 mt-2">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item ps-2">
            <a class="nav-link" href="blog.html">Blog</a>
          </li>
          <li class="nav-item ps-2">
            <a class="nav-link" href="contacts.html">Contact</a>
          </li>
          <li class="nav-item ps-3 pt-2 pt-lg-0">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="bi bi-person-circle"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container-md">
  <div class="row">
    <div class="col">
      <h1 class="section">{{ pageheader }}</h1>
    </div>
  </div>
</div>
