// home.scss

.nav-autohide {
  min-height: 4.5rem;
  transition: transform 0.5s;
}

.nav-autohide.is-hidden {
  transform: translateY(-4.5rem);
}

.header-section {
  position: relative;
  margin: 4.5rem auto 0;
  overflow: hidden;

  h1 {
    padding: $gutter * 2 0;
    margin: 0;
    text-align: center;
    filter: drop-shadow(0 2px 4px $black);
  }

  img {
    position: absolute;
    right: 0;
    left: 0;
    filter: blur(2px);
  }
}

.nav-link {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;

  svg {
    margin-top: 2px;
  }

  &:hover {
    border-bottom: 2px solid $accent;
  }
}

.figure-hover {
  padding: 0;
  margin: 0;
  filter: brightness(0.9);
  box-shadow: none;
  transition: 0.25s all;
  transform: scale(1);

  &:hover {
    filter: brightness(1);
    box-shadow: 0 0.25rem 1rem rgba(#000, 0.3);
    transform: scale(1.005);
  }

  @include media-breakpoint-up(xl) {
    max-height: 20rem;
  }
}

.gallery-item {
  display: inline-block;
  padding: 0;
  margin: 0 0 $gutter * 0.5 0;
  break-inside: avoid;
  page-break-inside: avoid;

  img {
    filter: brightness(0.9);
    border-radius: 0.25rem;
    box-shadow: none;
    transition: 0.25s all;
    transform: scale(1);
  }

  &:hover {
    img {
      filter: brightness(1);
      box-shadow: 0 0.25rem 1rem rgba(#000, 0.3);
      transform: scale(1.0125);
    }
  }

  @media (min-width: 460px) {
    width: calc(50% - $gutter * 0.5);
    margin-right: $gutter * 0.25;
    margin-left: $gutter * 0.25;
  }

  @include media-breakpoint-up(md) {
    width: calc(25% - $gutter * 0.5);
  }

  @include media-breakpoint-up(lg) {
    width: calc(100% / 7 - $gutter * 0.5);
  }
}

.blog-img,
.post-img {
  border-radius: 0.25rem;

  @include media-breakpoint-up(md) {
    max-width: 25%;
    margin-right: 1rem;
  }
}

.custom-html-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 67%;
  height: auto;
  font-size: calc(1.5rem + 1vh);
  line-height: 1.2;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
}

.custom-html-slide a {
  color: #fff;
  text-decoration: underline;
}

footer {
  box-shadow: 0 -0.5rem 1rem rgba(#000, 0.15); //shadow to up
}
