{% extends "layouts/main.twig" %}

{% block var %}
	{% set page = 'index' %}
	{{ parent() }}
{% endblock %}

{% block header  %}
	{% include 'partials/svgsprite.twig' %}
	{{ parent() }}
{% endblock %}

{% block main %}
	<main class="container-md">
		<div class="row mt-7">
			<div class="col-12 col-lg-6 mb-4 mb-lg-0">
				<figure class="w-100 h-100 figure-hover photo-gallery">
					<a data-size="1280x853" href="/assets/images/preview.jpg"><img class="w-100 h-100" src="/assets/images/preview.jpg" alt="Starter Template - Saint Petersburg"/></a>
					<a class="hidden" data-size="1920x1200" href="/assets/images/b2.jpg" data-title='Townhouse "Silverine"'><img src="/assets/images/b2-640x400.jpg" width="640" height="400" alt="Фото"/></a>
				</figure>
			</div>

			<div class="col-12 col-lg-6 d-flex justify-content-between flex-column position-relative">

				<h1>{{ site.value }}</h1>
				<h3>Welcome to yours new Starter template for a multi-page site!</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam reprehenderit nulla alias expedita a qui, pariatur doloremque ipsa fugit laboriosam odio iure recusandae laborum delectus praesentium magni reiciendis voluptatem. Sed.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eligendi ab temporibus delectus quaerat officia, magni corporis amet, deserunt natus, excepturi commodi deleniti quasi nisi. Ut tempora porro illo iusto asperiores quidem enim voluptatem eaque repudiandae vel. Modi, earum atque. Suscipit excepturi inventore illo expedita ducimus animi ipsa est ad.</p>

				<div class="text-center text-lg-start mt-2 text-light">
					<button type="button" id="open-lightbox" class="btn btn-outline-accent" title="viewing content of different types">
						Open lightbox
					</button>
				</div>

			</div>
		</div>

		<div class="row mt-8">
			<section
				class="col-sm-12">
				{# lightbox gallery #}
				<div class="col-12">
					<h2 class="text-center">lightbox gallery</h2>
					<ul class="d-flex list-unstyled justify-content-center gap-3">
						<li id="all" class="d-inline-block">
							<a href="all">Total</a>
						</li>
						<li id="foo" class="d-inline-block">
							<a href="foo">Bodrum</a>
						</li>
						<li id="bar" class="d-inline-block">
							<a href="bar">Tuapse</a>
						</li>
						<li id="baz" class="d-inline-block">
							<a href="baz">Dolgoe</a>
						</li>
					</ul>
					<div id="gallery-grid" class="photo-gallery">
						<a data-groups='["foo"]' class="gallery-item" data-size="1920x1200" target="_blank" href="/assets/images/b2.jpg" data-title='Townhouse "Silverine"'><img src="/assets/images/b2-640x400.jpg" width="640" height="400" alt="Фото"/></a>
						<a data-groups='["baz"]' class="gallery-item" data-size="1920x1200" target="_blank" href="/assets/images/b3.jpg" data-title='Residential Complex "Нousewarming"'><img src="/assets/images/b3-640x400.jpg" width="640" height="400" alt="Фото"/></a>
						<a data-groups='["foo"]' class="gallery-item" data-size="1920x1200" target="_blank" href="/assets/images/b4.jpg" data-title='Residential Complex "Soul lift"'><img src="/assets/images/b4-640x400.jpg" width="640" height="400" alt="Фото"/></a>
						<a data-groups='["bar"]' class="gallery-item" data-size="1920x1200" target="_blank" href="/assets/images/b1.jpg" data-title='Cottage 250 m2'><img src="/assets/images/b1-640x400.jpg" width="640" height="400" alt="Фото"/></a>
						<a data-groups='["baz"]' class="gallery-item" data-size="1920x1200" target="_blank" href="/assets/images/b5.jpg" data-title='Typical American Single Family Cottage'><img src="/assets/images/b5-640x400.jpg" width="640" height="400" alt="Фото"/></a>
						<a data-groups='["bar"]' class="gallery-item" data-size="1920x1200" target="_blank" href="/assets/images/b6.jpg" data-title='European house 350 m2'><img src="/assets/images/b6-640x400.jpg" width="640" height="400" alt="Фото"/></a>
						<a data-groups='["foo"]' class="gallery-item" data-size="1920x1200" target="_blank" href="/assets/images/b7.jpg" data-title='Modern Cottage'><img src="/assets/images/b7-640x400.jpg" width="640" height="400" alt="Фото"/></a>
					</div>
				</div>
			</section>
		</div>

		<div class="row content mt-8">
			<div class="col-sm-12 col-lg-4">
				<h3>Petrificus Totales</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita exercitationem illo a dolorem nulla delectus eos enim facilis voluptatem quis nisi beatae molestias amet, nobis quia magni deleniti dolorum eum quos sint itaque dolor, quibusdam harum! Voluptas eos placeat hic, sit consectetur quisquam cupiditate dicta mollitia labore, tenetur voluptate ipsam fuga a dolor accusamus soluta, tempore iste? Cum sapiente sequi, quasi nemo inventore molestiae omnis. Accusamus commodi laudantium itaque necessitatibus dicta illo voluptatem molestias harum sit excepturi eius neque esse pariatur in libero, delectus assumenda dolorum. In commodi, nemo rerum, provident est totam quis ullam ab, rem minima veniam iure.</p>
			</div>
			<div class="col-sm-12 col-lg-4">
				<h3>Vingardium Leviosso</h3>
				<blockquote class="quote">
					"План, что и говорить, был превосходный: простой и ясный, лучше не придумать. Недостаток у него был только один: было совершенно неизвестно, как привести его в исполнение."
					<p>- Льюис Кэрролл. "Алиса в стране чудес" -</p>
				</blockquote>
				<p>Dolore vero soluta rem ipsum eaque odit id labore et. Rerum vel odit voluptatum impedit adipisci aliquam! Nobis, architecto! Veniam!
				</p>
				<p>Run
					<code>npm</code>
					command:</p>
				<ul>
					<li>for development:
						<code>>> npm run dev</code>
					</li>
					<li>for build:
						<code>>> npm run build</code>
					</li>
				</ul>
			</div>
			<div class="col-sm-12 col-lg-4">
				<h3>Lumos maximus</h3>
				<p>Quae iusto, deserunt, explicabo delectus blanditiis perferendis aut ipsum tenetur, commodi recusandae quaerat. Debitis dolorem mollitia in maxime iure sequi tenetur cupiditate inventore repudiandae exercitationem! Dolorem aliquam voluptatibus modi officia, aspernatur nam molestias consectetur placeat nobis molestiae veritatis dignissimos exercitationem quae iure tenetur sequi temporibus. Aspernatur dolorum similique sit perspiciatis iusto cum velit porro magni adipisci quibusdam, culpa quia tempore dolore rerum voluptatum distinctio accusantium voluptatem exercitationem molestiae beatae ullam repellat accusamus harum. Ullam in, quam assumenda consequatur aperiam vel doloribus dolor asperiores.</p>
			</div>
		</div>
	</main>
{% endblock %}
