block variables
  - var title = 'Hello'
  - var page  = 'name'
  - var pageheader  = 'Hello World!'

doctype html
html(lang="ru")
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/assets/images/favicon.png", type="image/png")
    meta(property="og:image" content="/assets/images/preview.jpg")
    link(rel="preload", as="style", href="/assets/css/fonts.min.css")
    link(rel="stylesheet", href="/assets/css/fonts.min.css", media="print", onload="this.media='all'")
    link(rel="stylesheet", href="/assets/css/main.min.css")
  body
    div.wrapper
      block header
        include ../includes/header.pug
      block main
        main
          p It is default content in main section.
      block footer
        include ../includes/footer.pug
    block scripts
      include ../includes/popshare.pug
      include ../includes/pswshare.pug
      script(src="/assets/js/main.min.js")
