<!DOCTYPE html>
<html lang="ru">

	<head>
    {# -- head -- #}
    {% include "includes/head.htm" %}
	</head>

	<body>
		{% if title !== '404' %}
    <div class="grid">
      {# -- header -- #}
			{% include "includes/header.htm" %}
    {% endif %}
      {# -- main -- #}
      {% block main %}
			This is the default main content
      {% endblock %}
    {% if title !== '404' %}
			{# -- footer -- #}
			{% include "includes/footer.htm" %}
    </div>
			{% include "includes/popshare.htm" %}
			<script src="assets/js/main.min.js"></script>
			{% include "includes/pswshare.htm" %}
		{% endif %}
	</body>

</html>
