<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>Mockup • {{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="assets/images/favicon.png" type="image/png" />
  <meta property="og:image" content="assets/images/preview.jpg">
  <link rel="preload" as="style" href="assets/css/fonts.min.css" />
  <link rel="stylesheet" href="assets/css/fonts.min.css" media="print" onload="this.media='all'" />
  <link rel="stylesheet" href="assets/css/main.min.css" />
</head>

<body>
  <div class="wrapper">
    <!-- header -->
    {% block head %}
    {% include "includes/header.html" %}
    {% endblock %}
    <!-- main -->
    {% block main %}
      This is the default main content
    {% endblock %}
    <!-- footer -->
    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock %}
  </div>
  <!-- scripts & cod -->
  {% block scripts %}
  {% include "includes/popshare.html" %}
  {% include "includes/pswshare.html" %}
    <script src="assets/js/main.min.js"></script>
  {% endblock %}
</body>
</html>
