<!DOCTYPE html>
<html lang="ru">

	<head>
		<meta charset="utf-8"/>
		<title>Mockup •
			{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" href="/images/favicon.png" type="image/png"/>
		<script type="module" src="/src/scripts/main.ts"></script>
	</head>

	<body>
		<!-- display content -->
		{% block main %}
			This is the default main content
		{% endblock %}
		<!-- /display content -->
	</body>

</html>
